body{
    font-family: sans-serif;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}
#container{
    height: 80vh;
}

/* BOOKS */

#book{
  position: relative;
  overflow: hidden;
  padding: 20px;
  flex: 0 0 auto;
  width: 200px;
  height: 270px;
  margin-right: 40px;
}

#book:hover{
    cursor: pointer;
}

#books-line{
  display: flex;
  /* add horizontal scrolling and make it smooth */
  overflow-x: auto;
  scroll-behavior: smooth;
}

/* d-none the scroll bar*/
#books-line::-webkit-scrollbar {
  display: none;
}

#line-container{
    height: 60%;
}

#form-background{
    background-color:#f4f4f4;
}

#body-container{
  height: 100%;
  width: 100%;
}

/*Not logged in*/
#image-container{
  overflow: hidden;
  background-image:url("./images/1260521.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
} 
#login-form{
  background-color:#ffffff;
  padding: 20px;
}



