body{
}
/* Navbar */
#nav-buttons{
    justify-content: space-around;
}
#signed-as{
    justify-content: center;
    text-align: center;
}

/* index page */
#container{ width: 100vw;
}
#inner-container{
    width: 100vw;
}
#book-view-container{
    width: 70vw !important;
    height: 50vh !important;
    margin: auto;
}
#your-books-contaier{
    left: 10%;
    width: 100% !important;
}
#books-view{
    width: 100% !important;
    height: 100% !important;
}
#books-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
}
#first-last-buttons{
    display: none !important;
}

/* Book View */
#page-container{
    width: 100vw !important;
}

#inner-container{
    width: 100vw !important;
}
#all-pages{
    width: 100% !important;
    height: 85%;
    display: grid;
    grid-template-columns:repeat(3,33%);
    overflow: auto;
}


/* Page View */
#first-visit-word-input,
#first-visit-meaning-input{
    width: 70%;
    margin-left: 1px;
}

#remember-question{
    font-size: .8rem;
}

#last-visit-word-input{
    width: 80%;
    margin-left: 1px;
}
#last-visit-meaning-input{
    width: 100%;
    margin-left: 1px;
}

