{% extends "book/layout.html" %}

{% block body %}
{{user.username|json_script:"username" }}
{{book.name|json_script:"book_name" }}
<div id="page-container" class="rounded">
    <div class="m-auto">
        <h5 class="text-center pt-3 mb-0 pb-0">Note: You can only add 50 pages for every book</h5>
    </div>
    <div id="inner-container" class="w-50 h-100 m-auto border border-dark d-flex row rounded mt-3">
        <div id="title" class="rounded-top d-flex justify-content-between" style="color:{{book.cover_color}}">
            <div class="ml-3">
                <h1 id ="page-title" class="text-center fs-2 fw-bold mt-3">{{book.name |truncatechars:30}}</h1>
            </div>
            <div class="m-1 d-flex row justify-content-center">
                <button class="btn rounded w-50" id="new-page"><i class="fa fa-file fa-lg" ></i></button>
                <p class="text-dark text-center fs-6">New Page</p>
            </div>
        </div>
        <div id="all-pages" class="rounded-bottom">
            {% for page in pages %}
            <a href="{% url 'page_view' username=user.username book_name=book.link_name page_number=page.number %}"id="page" class="m-3 p-3 text-decoration-none">
                <h1 id ="page-number" class="text-center" style="color:{{book.cover_color}}">{{page.number}}</h1>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}