{% extends "book/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h4>You signed in as {{user.username}}</h4>
        <div id="container" class=" row d-flex justify-content-start h-100">
            <div id = "inner-container" class="h-25 position-relative">

                <div class="">
                    <div class="w-50 m-auto bg-warning rounded p-1 border border-dark">
                        <h1 class="text-center p-1">Your Books</h1>
                    </div>
                </div>

                <div class="">
                    <div class="w-100  mt-2 mb-2 p-1 d-flex justify-content-center">
                        <input id="filter-books" type="text" class="m-auto w-50 border rounded border-2 p-2" placeholder="Search in books">
                    </div>
                </div>

            <div class="border border-2 rounded w-50  m-auto text-center d-flex row align-items-center">
                <div class="d-none">
                    <h1>There is no book yet</h1>
                </div>
                <div id="books-view" class="h-100 w-100">
                    <div id="books-line" class="h-100 w-100">
                            {% for book in books %}
                            <div id="book" class="m-1 rounded text-light" style="background-color: {{ book.cover_color }};">
                                <h1 class="p-4">{{book.name}}</h1>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>


                <div class="d-flex row justify-content-center">
                    <div class="d-flex m-auto justify-content-center">
                        <button id = "nxt-btn" class="p-2 bg-warning rounded m-2 border border-none"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button id = "pre-btn" class="p-2 bg-warning rounded m-2 border border-bone"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>

                    <div id="create-book-view" class="d-flex row text-center">
                        <div class="h-50">
                            <div class="m-2">
                                <div id="create-btn" class="btn btn-secondary"><i class="fa fa-plus p-2 fa-2x" aria-hidden="true"></i></div>
                            </div>
                            <div class="m-2">
                                <h5>Create New Book</h5>
                            </div>
                        </div>
                    </div>
                </div>

                    <div id="create-book-overlay" class="w-100 d-flex justify-content-center z-2 position-absolute top-0 d-none">
                        <div id="form-background" class="h-100 rounded">
                            <h2 class="p-3 text-center">Create New Notebook</h2>
                            <form action="{% url 'create_book' %}" method="post" class="p-4">
                                {% csrf_token %}
                                <div class="d-flex row m-2">
                                    <label>Book Name:</label>
                                    <input type="text" name="name" id="book-name" placeholder="Book Name" class="p-2 border border-2 rounded m-2">
                                </div>

                                <div class="d-flex row m-2">
                                    <label>Target Language:</label>
                                    <input type="text" name="language" id="target-language" placeholder="Target Language" class="p-2 border border-2 rounded m-2">
                                </div>
                                <div class="d-flex row m-2">
                                    <label>Words per page:</label>
                                    <select name="words" id="words-per-page" class="p-2 border border-2 rounded m-2">
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                        <option value="35">35</option>
                                    </select>
                                </div>

                                <div class="d-flex m-3 justify-content-start">
                                    <label class="m-2">Cover Color:</label>
                                    <input type="color" name="color" id="cover-color" class= "border border-2 rounded m-2">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" id="save-create" class="btn btn-warning" value="Create">
                                </div>
                            </form>
                        </div>
                    </div>
            </div>

            <div id="overlay" class="position-absolute z-1 top-0 start-0 bg-dark w-100 h-100 opacity-25 d-none border border-dark">
            </div>
        <div id="notebook-page-view">

        </div>

    </div>
    {% endif %}

{% endblock %}